A3/StepFunction/StepFunction.txt
{
  "StartAt": "CheckAction",
  "States": {
    "CheckAction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "SHA256Function"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "MD5Function"
        },
        {
          "Variable": "$.action",
          "StringEquals": "bcrypt",
          "Next": "BcryptFunction"
        }
      ],
      "Default": "InvalidAction"
    },
    "SHA256Function": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:161533161476:function:SHA-256-lambda",
      "End": true
    },
    "MD5Function": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:161533161476:function:md5-lambda",
      "End": true
    },
    "BcryptFunction": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:161533161476:function:Bcrypt-lambda",
      "End": true
    },
    "InvalidAction": {
      "Type": "Fail",
      "Error": "Invalid Action",
      "Cause": "The provided action is not supported."
    }
  }
}